<div layout:decorate="~{index}" layout:fragment="content">
    <div class="container mt-5">
        <h3 th:text="${'Available cars from ' + startDate + ' to ' + endDate}"></h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col mb-2" th:each="car : ${availableCars}">
                <div class="card h-100">
                    <img src="pictures/6_0.jpg" class="card-img-top" alt="Car">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${car.brand + ' ' + car.model}"></h5>
                        <form method="get" action="/deal">
                            <input type="hidden" name="id" th:value="${car.id}"/>
                            <input type="hidden" name="startDate" th:value="${startDate}"/>
                            <input type="hidden" name="endDate" th:value="${endDate}"/>
                            <label class="font-weight-bold">Seats:</label>
                            <span th:text="${car.seats}" class="font-weight-normal card-text"></span><br>
                            <label class="font-weight-bold">Daily rate:</label>
                            <span th:text="${car.pricePerDay + '€'}" class="font-weight-normal card-text"></span><br>
                            <button type="submit" class="btn btn-primary">View deal</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>