<div layout:decorate="~{index}" layout:fragment="content">
    <div class="container mt-5">
        <h2 th:text="${message}"></h2>
        <p th:text="${text}"></p>
        <div class="row">
            <div class="col-md-2">
                <form action="/" method="get">
                    <button type="submit" class="btn btn-primary">Back to main page</button>
                </form>
            </div>
            <div class="col-md-3">
                <form action="/availableCars" method="get">
                    <input type="hidden" name="startDate" th:value="${startDate}">
                    <input type="hidden" name="endDate" th:value="${endDate}">
                    <button type="submit" class="btn btn-primary">Back to available cars</button>
                </form>
            </div>
        </div>
    </div>
</div>

