<div layout:decorate="~{index}" layout:fragment="content">
    <div class="container mt-5">
        <h1>CarWave - Rent, Drive & Enjoy</h1>
        <form th:action="@{/availableCars}" method="get" class="form-inline">
            <div class="form-group">
                <label for="startDate" class="mr-3">Date from:</label>
                <input type="date" id="startDate" name="startDate" class="form-control" required>
            </div>
            <div class="form-group ml-2">
                <label for="endDate" class="mr-3 ml-3"> to </label>
                <input type="date" id="endDate" name="endDate" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary ml-2">Search</button>
        </form>
    </div>
</div>